<div class="form-settings-wrapper">
    <div class="btn-group btn-group-justified formsettings--control-buttons" *ngIf="formSettings">
      <a class="btn btn-primary"
         *ngIf="formSettings"
         (click)="submitForm()">
        <span *ngIf="formSaving">
          <loading class="white"></loading>
        </span>
        <span *ngIf="!formSaving">
          Save
        </span>
      </a>
      <a class="btn btn-danger"
         *ngIf="formSettings"
         (click)="cancelForm()">
        Cancel
      </a>
      <a class="btn btn-success"
         *ngIf="formSettings"
         (click)="openFormPreview(tab.url)">
        Preview
      </a>
      <a class="btn btn-info"
         *ngIf="formSettings"
         (click)="openFormCode(tab)">
        Code
      </a>
    </div>
    
    <div #formElem 
        [innerHTML]="formSettings | safePloneHtml">
    </div>

    <div class="settings-alert-no-object alert alert-info"
        *ngIf="!formSettings">
        <strong>Select form</strong>
    </div>
</div>