<div class="form-settings-wrapper">
    <div class="formsettings--control-buttons" *ngIf="formSettings">
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--teal-700"
         *ngIf="formSettings"
         (click)="submitForm()">
        <span *ngIf="formSaving">
          <loading class="white"></loading>
        </span>
        <span *ngIf="!formSaving">
          <span class="icon material-icons">save</span>
          Save
        </span>
      </a>
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--grey-300"
         *ngIf="formSettings"
         (click)="cancelForm()">
         <span class="icon material-icons">cancel</span>
        Cancel
      </a>
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--green-900"
         *ngIf="formSettings"
         (click)="openFormPreview(tab.url)">
         <span class="icon material-icons">slideshow</span>
        Preview
      </a>
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
         *ngIf="formSettings"
         (click)="openFormCode(tab)">
         <span class="icon material-icons">code</span>
        Code
      </a>
    </div>
    
    <div class="scrolling-container scrolling-container--76" #formElem 
        [innerHTML]="formSettings | safePloneHtml">
    </div>

    <div class="mdl-card mdl-shadow--2dp settings-alert-no-object"
      *ngIf="!formSettings">
    <div class="mdl-card__supporting-text">Please select form</div>
  </div>
</div>
