.settings-alert-no-object {
    margin: 15px;
}

.formsettings--control-buttons {
    padding: 0 30px;
    margin: 15px 0;
}

/deep/ #formfield-form-widgets-form_layout {
    display: none !important;
}
