<form (ngSubmit)="onSubmit(data['@id'], title.value, desc.value, hiddenColumn.checked)" #form="ngForm">
    <div class="form-group">
        <label for="title">Titre</label>
        <input
            #title
            formControlName="form.controls.title"
            [value]="data?.title"
            type="text"
            class="form-control"
            id="title"
            required="true"
        />
    </div>
    <div class="form-group">
        <label for="id">ID</label>
        <input type="text" class="form-control" [value]="data ? data['@id'] : ''" id="id" disabled="true" />
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <p class="help-block">Utilisé dans les pages listant des éléments et les pages de résultats de recherche.</p>
        <textarea
            #desc
            formControlName="form.controls.desc"
            type="text"
            class="form-control"
            id="desc"
            [value]="data?.description"
        ></textarea>
    </div>
    <div class="form-group">
        <label>Displayed field</label>
        <p class="help-block">Displayed field</p>
        <select formControlName="form.controls.displayedField" class="form-control">
            <option value="Aucune valeur">Aucune valeur</option>
        </select>
    </div>
    <div class="checkbox">
        <label>
            <input
                #hiddenColumn
                formControlName="form.controls.hiddenColumn"
                type="checkbox"
                [checked]="data?.hidden_column"
            />
            Hidden column
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" (click)="deleteElement()" class="btn btn-danger">Delete</button>
</form>
