*.egg-info
*.mo
*.pyc
*.sublime-*
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/Products
var/
local/
htmlcov/
.coverage
*.log
output.xml
*.swp
eggs
develop.cfg
.Python
local.cfg
pip-selfcheck.json
lib/
include/python*
