*.egg-info
*.mo
*.pyc
**.DS_Store
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/Products
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
eggs
develop.cfg
.Python
local.cfg
pip-selfcheck.json
lib/
include/python*
.idea/
log.html
report.html
bin
test/*
package-lock.json

# Created during tests
src/Products/CMFPlomino/tests/tmp_export 