[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    tinymce-checkout.cfg

always-checkout = force
package-name = Products.CMFPlomino
package-src = Products/CMFPlomino
package-pep8-ignores = E501,W402,W801
package-coverage = 80
package-extras = [test]

allow-hosts +=
    robotframework.googlecode.com
    code.google.com

parts+=
    regular-coverage
    instance
#    flake8
#    python-validation-sh
#    css-validation-sh
#    js-validation-sh
    

[regular-coverage]
# deploy the actual bin/coverage (which is not bin/coverage.sh)
recipe = zc.recipe.egg
eggs = createcoverage

[versions]
# Build on Plone 4.1/4.0 fails without this
# robotframework-selenium2library 1.1.0 requires 'docutils>=0.8.1'
docutils=0.10
