[buildout]
extends = base.cfg
parts =  
    test

 # network speedup
socket-timeout = 3
allow-hosts =
    *.plone.org
    *.python.org
    *.zope.org
    github.com
    docutils.sourceforge.net
    effbot.org
    prdownloads.sourceforge.net
    launchpad.net

[test]
recipe = collective.xmltestreport
eggs =
    Plone
    Products.CMFPlomino [test]
    plomino.tinymce

defaults = ['--auto-color', '--auto-progress', '--xml']

[versions]
collective.xmltestreport = 1.2.6