<div class="field-settings-wrapper">
  <div class="fieldsettings--control-buttons" *ngIf="formTemplate">
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--teal-700"
       *ngIf="formTemplate"
       (click)="submitForm()">
      <span *ngIf="formSaving">
          <loading class="white"></loading>
        </span>
      <span *ngIf="!formSaving">
        <!--<span class="icon material-icons">save</span>-->
          Save
        </span>
    </a>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--grey-300"
       *ngIf="formTemplate"
       (click)="cancelForm()">
       <!--<span class="icon material-icons">cancel</span>-->
      Cancel
    </a>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
      *ngIf="formTemplate"
      (click)="openFieldCode()">
      <!--<span class="icon material-icons">code</span>-->
      Code
    </a>
  </div>
  <div class="mdl-card mdl-shadow--2dp settings-alert-no-object"
      *ngIf="!formTemplate">
    <div class="mdl-card__supporting-text">Please select field</div>
  </div>
  <div class="scrolling-container scrolling-container--66" #fieldForm [innerHTML]="formTemplate | safePloneHtml"></div>
</div>
