.settings-alert-no-object {
    margin: 15px;
    width: auto;
    min-height: auto;
}

.fieldsettings--control-buttons {
    padding: 0 12px;
    margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.mdl-button,
.mdl-button:hover,
.mdl-button:active,
.mdl-button:visited {
    color: white;
    text-decoration: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.mdl-button--accent {
    margin-right: 16px;
}

/* /deep/.outer-wrapper .select2-container {
  width: 100% !important;
} */

/deep/#portal-column-content .select2-container {
    width: 100% !important;
}
