<div class="field-settings-wrapper">
  <div class="fieldsettings--control-buttons" *ngIf="formTemplate">
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
       *ngIf="formTemplate"
       (click)="submitForm()">
      <span *ngIf="formSaving">
          <loading class="white"></loading>
        </span>
      <span *ngIf="!formSaving">
          Save
        </span>
    </a>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
       *ngIf="formTemplate"
       (click)="cancelForm()">
      Cancel
    </a>
  </div>
  <div #fieldForm [innerHTML]="formTemplate | safePloneHtml"></div>

  <div class="mdl-card mdl-shadow--2dp settings-alert-no-object"
      *ngIf="!formTemplate">
    <div class="mdl-card__supporting-text">Please select field</div>
  </div>
</div>