<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="form-group">
    <label for="title">Titre</label>
    <input [(ngModel)]='title' type="text" class="form-control" id="title" required="true">
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <p class="help-block">Utilisé dans les pages listant des éléments et les pages de résultats de recherche.</p>
    <textarea type="text" class="form-control" id="desc"></textarea>
  </div>
  <div class="form-group">
    <label>Action type</label>
    <p class="help-block">Select the type for this action</p>
    <select class="form-control">
      <option value="OPENFORM" selected>Open form</option>
      <option value="OPENVIEW">Open view</option>
      <option value="CLOSE">Close</option>
      <option value="SAVE">Save</option>
      <option value="PYTHON">Python script</option>
      <option value="REDIRECT">Redirect formula</option>
    </select>
  </div>
  <div class="form-group">
    <label>Action display</label>
    <p class="help-block">How the action is shown</p>
    <select class="form-control">
      <option value="LINK">Link</option>
      <option value="SUBMIT">Submit button</option>
      <option value="BUTTON" selected>Button</option>
    </select>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Display action in action bar (yes/no)
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Sauvegarder</button>
  <button class="btn btn-default">Annuler</button>
</form>
