<form>
  <div class="form-group">
    <label for="title">Titre</label>
    <input type="text" class="form-control" id="title" required="true">
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <p class="help-block">Utilisé dans les pages listant des éléments et les pages de résultats de recherche.</p>
    <textarea type="text" class="form-control" id="desc"></textarea>
  </div>
  <div class="form-group">
    <label>Field type</label>
    <p class="help-block">Field type</p>
    <select class="form-control">
      <option value="Aucune valeur">Aucune valeur</option>
    </select>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Hidden column
    </label>
  </div>
