<form (ngSubmit)='onSubmit(data["@id"],title.value,desc.value,readTemplate.value,editTemplate.value,mandatory.checked,toBeIndexed.checked)' #form="ngForm">
  <div class="form-group">
    <label for="title">Titre</label>
    <input [ngModel]='data?.title' (ngModelChange)="data.title=$event" type="text" class="form-control" id="title" required="true">
  </div>
  <div class="form-group">
    <label for="id">ID</label>
    <input #title type="text" class="form-control" [value]="data ? data['@id'] : ''" id="id" disabled="true">
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <p class="help-block">Utilisé dans les pages listant des éléments et les pages de résultats de recherche.</p>
    <textarea #desc type="text" class="form-control" id="desc">{{data?.description}}</textarea>
  </div>
  <div class="form-group">
    <label>Field type</label>
    <p class="help-block">Field type</p>
    <select class="form-control" [value]="data?.field_type">
      <option value="GOOGLECHART">Google chart</option>
      <option value="TEXT">Text</option>
      <option value="NUMBER">Number</option>
      <option value="DATETIME">Date/Time</option>
      <option value="DATAGRID">Datagrid</option>
      <option value="DOCLINK">Doclink</option>
      <option value="GOOGLEVISUALIZATION">Google visualization</option>
      <option value="SELECTION">Selection list</option>
      <option value="NAME">Name</option>
      <option value="RICHTEXT">Rich text</option>
      <option value="BOOLEAN">Boolean</option>
      <option value="ATTACHMENT">File attachment</option>
    </select>
  </div>
  <div class="form-group">
    <label>Field mode</label>
    <p class="help-block">Field mode</p>
    <select class="form-control" [value]="data?.field_mode">
        <option value="EDITABLE">Editable</option>
        <option value="COMPUTED">Computed</option>
        <option value="CREATION">Computed on creation</option>
        <option value="DISPLAY">Computed for display</option>
        <option value="COMPUTEDONSAVE">Computed on save</option>
    </select>
  </div>
  <div class="form-group">
    <label for="fieldReadTemplate">Field read template</label>
    <p class="help-block">Custom rendering template in read mode</p>
    <input #readTemplate type="text" class="form-control" id="fieldReadTemplate" [value]="data?.read_template">
  </div>
  <div class="form-group">
    <label for="fieldEditTemplate">Field edit template</label>
    <p class="help-block">Custom rendering template in edit mode</p>
    <input #editTemplate type="text" class="form-control" id="fieldEditTemplate" [value]="data?.edit_template">
  </div>
  <div class="checkbox">
    <label>
      <input #mandatory type="checkbox" [checked]="data?.mandatory"> Mandatory
    </label>
    <p class="help-block">Is this field mandatory? (empty value will not be allowed)</p>
  </div>
  <div class="checkbox">
    <label>
      <input #toBeIndexed type="checkbox" [checked]="data?.to_be_indexed"> Add to index
    </label>
    <p class="help-block">The field will be searchable</p>
  </div>
  <div class="form-group">
    <label>Index type</label>
    <p class="help-block"> The way the field values will be indexed</p>
    <select class="form-control" [value]="data?.index_type">
        <option value="DEFAULT">Default (FieldIndex)</option>
        <option value="DATERECURRINGINDEX">DateRecurringIndex</option>
        <option value="EXTENDEDPATHINDEX">ExtendedPathIndex</option>
        <option value="FIELDINDEX">FieldIndex (match exact value)</option>
        <option value="KEYWORDINDEX">KeywordIndex (match list elements)</option>
        <option value="TOPICINDEX">TopicIndex</option>
        <option value="DATEINDEX">DateIndex</option>
        <option value="DATERANGEINDEX">DateRangeIndex</option>
        <option value="PATHINDEX">PathIndex</option>
        <option value="BOOLEANINDEX">BooleanIndex</option>
        <option value="ZCTEXTINDEX">ZCTextIndex (match any contained words)</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Sauvegarder</button>
  <button class="btn btn-default">Annuler</button>
</form>
