<!--
<div class="input-group">
    <input #filter placeholder="Filter" class="form-control">
    <span class="input-group-btn">
        <button class="btn btn-default" (click)="sendSearch(filter.value)"><span class="glyphicon glyphicon-search"></span></button>
    </span>
</div>
-->

<div class="treeview-wrapper">
    <!--<ul *ngIf="filtered">
        
        <li *ngFor="let result of searchResults.member">
            
            {{result.title}}
            
            <span *ngIf="result['@type'] === 'PlominoForm'" 
                (click)='onEdit({formUniqueId: result.formUniqueId, label:result.title, url:result["@id"], editor:"layout",path:null}); filter.value = ""; filtered = false'
                class="link glyphicon glyphicon-file click-cursor">
            </span>

            <span (click)='onEdit({formUniqueId: result.formUniqueId, label:result.title, url:result["@id"], editor:"code",path:null}); filter.value = ""; filtered = false'
                class="link glyphicon glyphicon-align-left click-cursor">
            </span>
            
            <span (click)='onEdit({formUniqueId: result.formUniqueId, label:result.title, url:result["@id"], editor:"settings",path:null}); filter.value = ""; filtered = false'
                class="link glyphicon glyphicon-cog click-cursor">
            </span>
        
        </li>
    </ul>-->

    <ul *ngIf="!filtered" class="tree-node">
        <li class="tree-node--collapsible" [class.closed]="false">
            <span
                class="tree-node--name click-cursor"
                (click)="selectDBSettingsTab()"
                style="text-transform: capitalize"
            >
                {{ data && data.length ? data[0].url.split("/")[data[0].url.split("/").length - 2] : "" }}
            </span>

            <ul [collapse]="false">
                <li
                    *ngFor="let typeName of data"
                    class="tree-node--collapsible"
                    (mouseup)="click2DragDelay ? click2DragDelay.unsubscribe() : true"
                    (mousedown)="
                        treeFormItemClick(
                            selected,
                            $event,
                            typeName.typeLabel,
                            typeName.url,
                            typeName.label,
                            typeName.formUniqueId
                        )
                    "
                    [class.closed]="getCollapseState(typeName.collapsed, selected && typeName.url === selected.url)"
                    [class.tree-node--is-view]="typeName.typeLabel === 'Views'"
                    (click)="
                        onEdit({
                            formUniqueId: typeName.formUniqueId,
                            label: typeName.label,
                            url: typeName.url,
                            editor: typeName.typeLabel === 'Views' ? 'view' : 'layout',
                            path: [{ name: typeName.label, type: typeName.typeLabel }]
                        })
                    "
                    [class.hasChild]="typeName.children.length !== 0"
                >
                    <span
                        class="tree-node--name click-cursor"
                        #selectable
                        [attr.id]="'tree_' + typeName.url"
                        [attr.data-type]="typeName.type"
                        [class.selected]="selected && typeName.url === selected.url"
                        [attr.draggable]="workflowMode ? 'true' : null"
                        (dragstart)="
                            workflowMode
                                ? dragSubformToWorkflow($event, typeName.url, typeName.label, typeName.typeLabel)
                                : null
                        "
                        (click)="treeArrowClick($event, typeName)"
                    >
                        <span class="tree-node__child-type-image" aria-hidden="true">
                            <img [src]="getTypeImage(typeName)" />
                        </span>

                        {{ typeName.url | extractName }}
                    </span>

                    <div class="mdl-tooltip mdl-tooltip--right" [attr.data-mdl-for]="'tree_' + typeName.url">
                        {{ typeName.label }}
                    </div>

                    <ul
                        [collapse]="getCollapseState(typeName.collapsed, selected && typeName.url === selected.url)"
                        *ngIf="typeName.children.length"
                    >
                        <li *ngFor="let childName of typeName.children">
                            <span
                                #selectable
                                class="tree-node__child--name click-cursor"
                                [class.selected]="isItSelected(childName)"
                                (mouseup)="click2DragDelay ? click2DragDelay.unsubscribe() : true"
                                (mousedown)="
                                    treeFormItemClick(selected, $event, childName.type, childName.url, typeName.url)
                                "
                                (click)="
                                    onTreeFieldClick({
                                        name: childName.url,
                                        type: childName.type,
                                        parent: childName.typeNameUrl,
                                        resolved: true
                                    })
                                "
                            >
                                <span class="tree-node__child-type-image">
                                    <img [src]="getTypeImage(childName)" />
                                </span>

                                {{ childName.url | extractName }}
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
