.treeview-wrapper {
}

.tree-node {
    padding: 0;
    margin-left: 0;
}

.collapse.in {
    height: auto !important;
}
ul {
    margin: 5px;
    padding-left: 15px;
    list-style: none;
    user-select: none;
}
.tree-wrap {
    overflow: auto;
    height: 850px;
    width: 280px;
}
.tree-node--collapsible > .tree-node--name:before {
    display: inline-block;
    content: "▼";
    transition: transform 0.2s;
    opacity: 0;
}
.tree-node--collapsible.hasChild > .tree-node--name:before {
    opacity: 1;
}
.tree-node--collapsible.hasChild.closed > .tree-node--name:before {
    transform: rotate(-90deg);
}
.click-cursor {
    cursor: pointer;
}
.click-cursor:focus {
    outline: none;
}
.tree-node__child-type-image {
    display: inline-block;
    margin-left: 4px;
}
.link {
    color: #337ab7;
    cursor: pointer;
}
.selected {
    color: #337ab7;
    font-weight: bold;
}
