ul {
    list-style:none;
    margin: 0;
    padding-left: 25px;
}
.name {
    user-select: none;
    margin: 0;
}
.selected {
    color: red;
}
.name>a,
.name>p{
    display: inline-block;
    margin: 0;
}
.folder:before {
    content: "+";
    display: inline-block;
}
.folder.displayed:before {
    content: "-";
}
.click-cursor{
    cursor: pointer;
}
