<div class="db-settings-wrapper" style="position: relative">
  <plomino-block-preloader [loading]="loading" [palette]="true"></plomino-block-preloader>  
  <div class="dbsettings--control-buttons" *ngIf="hasAuthPermissions() || hasDesignPermissions()">
      <button class="mdl-button mdl-js-button
        mdl-button--raised mdl-js-ripple-effect
        mdl-button--accent mdl-color--teal-700"
        style="white-space: normal"
        [disabled]="!hasAuthPermissions()"
        (click)="submitForm()">
        Save
      </button>
      <button class="mdl-button mdl-js-button
        mdl-button--raised mdl-js-ripple-effect
        mdl-button--accent mdl-color--grey-300"
        style="white-space: normal"
        [disabled]="!hasAuthPermissions()"
        (click)="cancelForm()">
        Cancel
      </button>
      <button class="mdl-button mdl-js-button
        mdl-button--raised mdl-js-ripple-effect
        mdl-button--accent mdl-color--yellow-900"
        style="white-space: normal"
        (click)="showImportExport()">
        Import/Export
      </button>
      <button class="mdl-button mdl-js-button
        mdl-button--raised mdl-js-ripple-effect
        mdl-color--purple-300"
        style="white-space: normal"
        [disabled]="!hasAuthPermissions()"
        (click)="showACL()">
        ACL
      </button>
  </div>
  <div class="scrolling-container scrolling-container--66" #dbform [innerHTML]="dbForm | safePloneHtml"></div>
</div>
