<div class="wrap-app">
  <my-tree class="well" (newName)="onAdd($event)" (edit)="onEdit($event)"></my-tree>
  <div class="main-app panel">
    <tabset>
      <tab *ngFor="#tabz of tabs"
        [heading]="tabz.title"
        [removable]="true"
        (removed)="onTabClose(tabz)"
        [innerHtml]="tabz.content">
      </tab>
    </tabset>
  </div>

  <modal #modal (onClose)="onModalClose()">
    <modal-header [show-close]="true">
      <h4 class="modal-title">Add new ...</h4>
    </modal-header>
    <modal-body>
      <input [(ngModel)]="newName">
    </modal-body>
    <modal-footer [show-default-buttons]="true"></modal-footer>
  </modal>
</div>

<button type="button" name="button" (click)="showtabs()">Show tabs</button>
