.wrap-app {
    display: flex;
    flex-direction: row;
}
.main-app {
    width: 100%;

    display: flex;
    flex-direction: column;
}

tab {
    height: 900px;
    overflow: auto;
}

.well,
plomino-palette,
plomino-tree {
    width: 400px;
}

.tabunsaved {
    font-style: italic;
}
