.wrap-app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 0;
  padding: 0;
  border-radius: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: column;
}

.palette-wrapper {
  position: relative;
  top: 60px;
  min-height: 150px;
  max-height: 80%;
  overflow-y: auto;
} 

.palette-wrapper /deep/ .nav-tabs {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
}

.palette-wrapper /deep/ .nav-tabs .nav-item:first-child a {
  height: 64px;
  display: flex;
  justify-content: center;
  line-height: 0;
}

.palette-wrapper /deep/ .nav-tabs .nav-item:first-child a span {
  -ms-align-self: center;
  height: 17px;
  align-self: center;
} 

.tree-wrapper {
  position: relative;
  top: 43px;
  flex: 1;
  overflow-y: hidden;
}

.tree-wrapper .title {
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 15px;
  color: black;
  background-color: white;
  font-weight: 500;
}

.tree-wrapper .content {
  height: calc(100% - 72px);
  overflow-y: auto;
}

.main-app {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

tab {
  height: calc(100vh - 43px);
  overflow-y: auto;
}

.well,
plomino-palette,
plomino-tree {
  width: 430px;
}

.tabunsaved {
  font-style: italic;
}


.drop-zone-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.drop-zone-label {
  -ms-align-self: center;
  align-self: center;
  text-align: center;
}

.drop-zone-label .glyphicon {
  font-size: 40px;
}

.drop-zone-label .heading {
  font-size: 25px;
}