<modal #modal (onClose)="onModalClose()" (onDismiss)="onModalDismiss()">
  <modal-header [show-close]="true">
    <h4 class="modal-title">Add new element in {{data.type}}</h4>
  </modal-header>
  <modal-body>
    <alert *ngIf="nameError" [type]="'danger'">Please enter a name</alert>
    <form class="form-inline">
      <div class="form-group" [class.has-error]="nameError">
        <input autofocus (keyup.enter)="onModalClose()" [(ngModel)]="data.name" class="form-control input-sm">
      </div>
    </form>
  </modal-body>
  <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>
