<modal #modal (onClose)="onModalClose({label:newName,editor:editor})" (onDismiss)="onModalClose()">
  <modal-header [show-close]="true">
    <h4 class="modal-title">Add new ...</h4>
  </modal-header>
  <modal-body>
    <alert *ngIf="nameError" [type]="'danger'">Please enter a name</alert>
    <form class="form-inline">
      <div class="form-group" [class.has-error]="nameError">
        <input autofocus [(ngModel)]="newName" class="form-control input-sm">
        <select [ngModel]="editor" (change)="changeEditor($event.target.value)">
          <option value="layout">Layout</option>
          <option value="code">Code</option>
        </select>
      </div>
    </form>
  </modal-body>
  <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>
