.plominoFieldClass {
    padding: 2px 10px;
    color: #1b6899;
    background-color: #ffffff;
    border: 1px solid #1b6899;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.plominoActionClass {
    padding: 2px 10px;
    color: #ffffff;
    background-color: #1b6899;
    border: 1px solid #124465;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.plominoHidewhenClass {
    padding: 2px 10px;
    color: #cccccc;
    background-color: #ffffff;
    border: 1px dashed #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.plominoSubformClass {
    padding: 2px 10px;
    color: #ffffff;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}