/*.collapse.in {
    height: auto !important;
}
*/

plomino-palette .tab-container .tab-content {
    overflow-y: scroll;
}

/deep/ .tab-content {
    position: relative;
}

/deep/ .scrolling-container {
    overflow-y: auto;
}

/deep/ .scrolling-container--66 {
    height: 283.5px;
}

/deep/ .scrolling-container--0 {
    min-height: 283.5px;
}

/deep/ .scrolling-container--76 {
    height: 273.5px;
}
