<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a [href]="'#palette-tab-' + i + '-panel'"
        *ngFor="let tabz of tabs, let i = index"
        [class.is-active]="tabz.active"
        (click)="setActiveTab($event, i)"
        class="mdl-tabs__tab">
        {{ tabz.title }}
      </a>
  </div>

  <div class="mdl-tabs__panel"
    [class.is-active]="tabs[0].active"
    id="palette-tab-0-panel">
    <plomino-palette-add></plomino-palette-add>
  </div>
  <div class="mdl-tabs__panel"
    [class.is-active]="tabs[1].active"
    id="palette-tab-1-panel">
    <plomino-palette-fieldsettings></plomino-palette-fieldsettings>
  </div>
  <div class="mdl-tabs__panel"
    [class.is-active]="tabs[4].active"
    id="palette-tab-4-panel">
    <plomino-workflow-node-settings></plomino-workflow-node-settings>
  </div>
  <div class="mdl-tabs__panel"
    [class.is-active]="tabs[2].active"
    id="palette-tab-2-panel">
    <plomino-palette-formsettings></plomino-palette-formsettings>
  </div>
  <div class="mdl-tabs__panel"
    [class.is-active]="tabs[3].active"
    id="palette-tab-3-panel">
    <plomino-palette-dbsettings></plomino-palette-dbsettings>
  </div>
</div>
