<div
    class="plomino-workflow-editor"
    #workflowEditorNode
    dnd-droppable
    (dragenter)="dragController.receive($event, 'enter', dragService.dndType)"
    (dragleave)="dragController.receive($event, 'leave', dragService.dndType)"
    (drop)="dragController.receive($event, 'drop', dragService.dndType)"
    (click)="onClickReceive($event)"
    style="max-width: 100%"
>
    <plomino-block-preloader [id]="'preloader_workflow'" [loading]="true" [palette]="false"></plomino-block-preloader>
</div>
